<div class="description">
  <h1 class="description__title">Ada Lovelace</h1>
  <p class="description__paragraph">Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron <br>
  y conocida habitualmente como Ada Lovelace fue una matemática y escritora británica, <br>
  célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, <br>
  la denominada máquina analítica. <br>
  La primera persona en reconocer que la máquina tenía aplicaciones más allá del cálculo puro <br>
  y en haber publicado lo que se reconoce hoy como el primer algoritmo que se procesa por una máquina,<br>
  por lo que se le considera como...<br><em>¡La primera programadora de ordenadores!</em></p>
</div>